$font-weight: (
    light: 300,
    normal: 400,
    bold: 700
);
$font-family: (
    default: #{'Noto Sans TC', 'Microsoft YaHei UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif},
);
$line-height-auto: 30/21;
$typos:(
    'ZH/Minimal_12px_Medium':(
        font-size:12px,
        letter-spacing:0,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/D/H1_48px_Bold':(
        font-size:48px,
        letter-spacing:-0.01em,
        font-family:'Noto Sans TC',
        font-weight:700,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/D/H2_21px_Medium':(
        font-size:21px,
        letter-spacing:0,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/D/H3_16px_Medium':(
        font-size:16px,
        letter-spacing:0.005em,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/D/H4_14px_Medium':(
        font-size:14px,
        letter-spacing:0,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height:1.4,
        text-indent:0
    ),
    'ZH/M/H1_24px_Bold':(
        font-size:24px,
        letter-spacing:-0.01em,
        font-family:'Noto Sans TC',
        font-weight:700,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/M/H2_17px_Medium':(
        font-size:17px,
        letter-spacing:0.005em,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/M/H3_15px_Medium':(
        font-size:15px,
        letter-spacing:0.005em,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'ZH/M/H4_14px_Medium':(
        font-size:14px,
        letter-spacing:0,
        font-family:'Noto Sans TC',
        font-weight:500,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/Minimal_12px_Semi-Bold_Superscript':(
        font-size:12px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/Display_80px_Bold':(
        font-size:80px,
        letter-spacing:-0.01em,
        font-family:'Inter',
        font-weight:700,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/H1_48px_Bold':(
        font-size:48px,
        letter-spacing:-0.01em,
        font-family:'Inter',
        font-weight:700,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/H2_21px_Semi-Bold':(
        font-size:21px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/H3_16px_Semi-Bold':(
        font-size:16px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/H4_14_Semi-Bold':(
        font-size:14px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/D/Minimal_12px_Semi-Bold':(
        font-size:12px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/M/Display_40px_Bold':(
        font-size:40px,
        letter-spacing:-0.01em,
        font-family:'Inter',
        font-weight:700,
        line-height: $line-height-auto,
        text-indent:0
    ),
    'EN/M/H4_14_Semi-Bold':(
        font-size:14px,
        letter-spacing:0,
        font-family:'Inter',
        line-height: $line-height-auto,
        text-indent:0
    )
);

@mixin typo($index) {
    @each $style-key, $style-value in map-get($typos, #{$index}) {
        #{$style-key}: #{$style-value};
    }
}

@mixin typo-h2() {
    @include typo('ZH/D/H2_21px_Medium');

    &:lang(en) {
        @include typo('EN/D/H2_21px_Semi-Bold');
    }

    @include media-breakpoint-down('desktop') {
        @include typo('EN/M/H2_17px_Medium');

        &:lang(en) {
            @include typo('EN/M/H4_14_Semi-Bold');
        }
    }
}

@mixin typo-h3() {
    @include typo('ZH/D/H3_16px_Medium');

    @include media-breakpoint-down('desktop') {
        @include typo('ZH/M/H3_15px_Medium');
    }

    &:lang(en) {
        @include typo('EN/D/H3_16px_Semi-Bold');
    }
}

@mixin typo-h4() {
    @include typo('ZH/D/H4_14px_Medium');

    @include media-breakpoint-down('desktop') {
        @include typo('ZH/M/H4_14px_Medium');
    }

    &:lang(en) {
        @include typo('EN/D/H4_14_Semi-Bold');
    }
}
