:root {
    --vh: 1vh;
}

::selection {
    color: color('White');
    background: color('Dark-Gray');
}

@include get-container();
@include grid-system();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
button,
input,
textarea {
    font-family: map-get($font-family, default);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    @include typo-h3;

    min-width: 320px;
    overscroll-behavior: none;
    scroll-behavior: smooth;
    color: color('Black');
}

input,
textarea {
    @include typo-h3;

    border: none;
    appearance: none;

    &::selection {
        background: color('Primary');
    }
}

pre {
    white-space: pre-line;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:active,
    &:focus {
        outline: 0;
    }
}

button {
    @include typo-h3();

    background-color: transparent;
}

.icon {
    @include size(1em);

    fill: currentColor;
    transition: color .3s;
}
