.fade {
    &-enter {
        &-from {
            opacity: 0;
        }

        &-active {
            transition: opacity var(--loading-duration);
        }
    }

    &-leave {
        &-active {
            opacity: 0;
            transition: opacity var(--loading-duration);
        }
    }
}
        }
    }
}

.zero-heigh {
    &-enter {
        &-from {
            padding: 0;
            height: 0;
        }

        &-to {
        }

        &-active {
            transition: height 0.3s ease, padding 0.3s ease;
        }
    }

    &-leave {
        &-from {
        }

        &-to {
            padding: 0;
            height: 0;
        }

        &-active {
            height: 0;
            transition: height 0.3s ease, padding 0.3s ease;
        }
    }
}

.flip {
    &-enter {
        &-from {
            transform: perspective(500px) rotateX(-90deg);
            opacity: 0;
        }

        &-to {
            transform: perspective(500px) rotateX(0deg);
            opacity: 1;
        }

        &-active {
            transition: transform 0.2s ease, opacity 0.1s linear;
            transform-origin: 50% 50% -20px;
            transform-style: preserve-3d;
        }
    }

    &-leave {
        &-from {
            opacity: 0;
            transform: perspective(500px) rotateX(0deg);
        }

        &-to {
            opacity: 1;
            transform: perspective(500px) rotateX(90deg);
        }

        &-active {
            transform-style: preserve-3d;
            transform-origin: 50% 50% -20px;
            transition: transform 0.2s ease, opacity 0.1s linear;
        }
    }
}
